


<section>
        
        <footer class="page-footer" style="background: #1B36FF !important;">
         
          <div class="footer-copyright" style="opacity: .3">
            <div class="container">
            © 2018 INSTANTLY
            </div>
          </div>
        </footer>
  </section>

  