<section id="section_bg" >	
	  <nav id="nav_prim " >
	    <div class="nav-wrapper">
	      <!-- mobile view -->
	      <div class="row hide-on-large-only">

	      	<div class="col s6 push-s6 right-align" style="position: absolute !important; right: 0 !important; margin-left: 	100px">
	      
	      		<a href="#" data-activates="slide-out" class="button-collapse show-on-large show-on-medium-and-up right-align"><i style="cursor: pointer; color: black !important; position: absolute; right: 0; top: 0" class="material-icons" >menu</i></a>
	      	</div>
	      </div>

	      <!-- side nav -->
		 <ul id="slide-out" class="side-nav">
		      <li><a href="/"><i class="material-icons">home</i>Home</a></li>
		      <li><a href="/channels"><i class="material-icons">view_headline</i>Channels</a></li>
		      <li><a href="/articles"><i class="material-icons">web</i>Articles</a></li>
		      <li><a href="/addchannel"><i class="material-icons">add</i>Add a channel</a></li>
		      <li><a href="/addarticle"><i class="material-icons">add</i>Add an article</a></li>
		      
		     
		 </ul>
		 
        

        <!-- end sidenav -->
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li class=""><a href="/" class="nav_link"><i class="zmdi zmdi-home"></i></a></li>
	        <li><a href="/channels" class="nav_link">Channels</a> </li>
	        <li><a href="/articles" class="nav_link">Articles</a> </li>
	        <li><a href="/addchannel" class="nav_link">Add a channel</a> </li>
	        <li><a href="/addarticle" class="nav_link">Add an article</a> </li>
	        
	      </ul>
	    </div>
	  </nav>   
	</section>
