<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>500 Error | I_AMVOCAL </title>
	<!-- all assets files -->
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Anton" rel="stylesheet">
</head>
<body style="background: #F5F5F5">
	<%- include includes/navbar.ejs %>
	<section id="section_body" >
		<div class="container">
			
				<div class="card" style="margin-top: 50px; margin-bottom: 50px">
					<div class="card-content">
					

						<div class="row">
							<div class="col s12 l6">
								<span style="font-size: 20vw; font-family: 'Anton'">500</span>
							</div>

							<div class="col s12 l6">
								<h5>Wheew! Something just happened right now.</h5>
								<br>
								<span>
									It's not you, it's us. Here are some helpful things to do.
								</span>
								<br>
								<ul>
									<li>Clear your browser cache.</li><br>
									<li>Refresh the page</li><br>
									<li>If it persists, close the browser and try again</li><br>
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			
		</div>

	</section>

	<!-- footer section -->
	<%- include includes/footer %>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>

<script type="text/javascript" src="assets/custom/style.js"></script>
</body>

</html>