<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home | I_AMVOCAL</title>
	<!-- all assets files --><link href="img/favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick-theme.css">
	
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>


	<section id="carousel_header">
	
		
		<div id="particles-js">	</div>
		<div class="container car_text home-container hide-on-small-only" style="position: absolute; z-index: 2; top: 27%; ">
			<span id="header_main-text">Our quest for knowledge is insatiable. However, we cannot keep up with all the sources of new knowledge.</span><br>
			<span id="header_sub-text" style="font-weight: 400">
				We built a platform that catalogues new knowledge as it is created in real-time.	</span>


			<br><br>
			
				<div class="row">
					<a href="/addarticle" class="btn btn-normal btn-large" style="background: white !important; color: #1B36FF !important">Add knowledge</a>
					<a href="/articles" class="btn btn-normal btn-large " style="background: black !important">View knowledge</a>

				</div>
			
				
		</div>

		<div class="container car_text hide-on-med-and-up" style="margin-top: -130px" >
			<span style="font-size: 25px !important; font-weight: 500 !important; color: white;">Our quest for knowledge is insatiable. However, we cannot keep up with all the sources of new knowledge.</span>
			<br>
			<span id="header_sub-text" style="font-weight: 400">
				We built a platform that catalogues new knowledge as it is created in real-time.	</span>
			<br><br>
			
				<div class="row">
					<a href="/addarticle" class="btn btn-normal btn-large" style="background: white !important; color: #1B36FF !important">Add knowledge</a>
					<a href="/articles" class="btn btn-normal btn-large " style="background: black !important">View knowledge</a>

				</div>
			
		</div>
		

	</section>
	<section style="margin-bottom: 50px">
		<div class=" ">
			<center><span id="header_sub-text" class="section-header"><br>What do we aim to create? </span></center>
		</div>

		<div class="container" style="margin-top: 50px;">
			<div class="row">
				<div class="col s12 l6">
				    <div class="card wed horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">developer_board</i>
				          	<br>
				          	<span class="section2-li">Developers' board</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		We want to create a database of programming and tech-related articles that are updated in real-time and catalogued into channels so you can have a source for finding all your tech articles even though they are scattered all over the web.
				          	</span><br><br> <br>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				  
				</div>

				<div class="col s12 l6">
					<div class="card horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">people</i>
				          	<br>
				          	<span class="section2-li">Community</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		We want to build a community of developers who help each other by adding useful articles they see all around the web into the database so that other developers can as well leverage such knowledge in real-time as well thereby adding our own quota in enhancing developer learning.
				          	</span><br><br>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>	
	</section>

	<section style="margin-bottom: 50px">
		<div class=" ">
			<center><span id="header_sub-text" class="section-header"><br>How it works </span></center>
		</div>

		<div class="container" style="margin-top: 50px;">
			<div class="row">
				<div class="col s12 l6 ">
				    <div class="card wed horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">remove_red_eye</i>
				          	<br>
				          	<span class="section2-li">See an article online</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		If you read an article online and it makes sense, you come on this platform and add the article to our database bearing in mind the closest related channels to the article and it is updated in real-time without a page refresh on the related channel.
				          	</span><br><br> <br>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				  
				</div>
				<div class="col s12 l6">
				    <div class="card wed horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">add</i>
				          	<br>
				          	<span class="section2-li">Add channels</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		Include channels that you are interested in and others as well as yourself would add articles that are related to your channel and you get new articles on the channel in real time. These can be viewed as adding categories or programming technologies that you are interested in.
				          	</span><br><br> <br>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				  
				</div>
			</div>
		</div>	
	</section>
	

	<!-- Reports -->
	

	<!-- footer section -->
	<% include includes/footer %>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/slick/slick/slick.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>
<script type="text/javascript" src="assets/particlesjs/particles.js"></script>
<script type="text/javascript">
	particlesJS.load('particles-js', 'assets/custom/particles.json', function() {
	  console.log('callback - particles.js config loaded');
	});
</script>
<script type="text/javascript" src="assets/custom/style.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('bfe927980e5d39ace247', {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      alert(data.message);
    });
</script>
</body>

</html>